body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

#map-title {
  text-align: center;
  margin: 0 auto;
  padding: 0.25em 0.5em;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 5%);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.5em;
  box-shadow: 0 0 0.25em black;
  z-index: 1000;
  display: none;
  pointer-events: none;
}

#map-legend {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1000;
  padding: 0.5em 1em;
  background: rgba(255, 255, 255, 0.75);
  list-style: none;
  border-radius: 1em;
  box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.5);
  margin-right: 0.5em;
  margin-bottom: 1.5em;
  pointer-events: none;
}

#map-legend span.box {
  background: rgba(0, 0, 0, 0.125);
  width: 1em;
  height: 1em;
  float: left;
  margin-right: 0.5em;
}

/*Style each box*/

#map-legend li:nth-of-type(1) span.box {
  background: #00FF00;
  /* Green */
}

#map-legend li:nth-of-type(2) span.box {
  background: #80FF00;
  /* Lime Green */
}

#map-legend li:nth-of-type(3) span.box {
  background: #FFFF00;
  /* Yellow */
}

#map-legend li:nth-of-type(4) span.box {
  background: #FFBF00;
  /* Yellow-Orange */
}

#map-legend li:nth-of-type(5) span.box {
  background: #FF8000;
  /* Orange-Red */
}

#map-legend li:nth-of-type(6) span.box {
  background: #FF0000;
  /* Red */
}